<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_oobtutorials"
        android:label="03 - Oob Tutorials"
        android:roundIcon="@mipmap/ic_oobtutorials"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.thalesgroup.mobileprotector.oobtutorials.OobMessagingActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.thalesgroup.mobileprotector.oobtutorials.oobregistration.OobPushService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/push_fcm_channel_id" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@android:drawable/ic_dialog_alert" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/darker_gray" />
    </application>
</manifest>
